html {
  background-color: black;
}

/* maintain 960x540 aspect ratio */
#unityContainer {
  width: 100vw !important;
  height: 56.25vw !important;
}

@media only screen and (max-width: 960px), (max-height: 540px) {
  #unityContainer {
    width: 960px !important;
    height: 540px !important;
  }
}

.webgl-content * {
  border: 0;
  margin: 0;
  padding: 0;
}

.webgl-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
